@import '../../scss/skeleton/base/variables';

.toc-panel {
  --toc-border-width: 1px;
  --text-unit: 1em;
  --text-scale-ratio: 1.2;
  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));

  box-shadow: inset var(--toc-border-width) 0 0 var(--color-contrast-low);
  font-family: var(--font-family);
  font-size: 1.57rem;
  top: 2rem;
  max-height: calc(100vh - 2rem);
  overflow: visible;
  padding-left: 4rem;
  line-height: 2.2rem;

  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .toc-panel__list {
    padding-bottom: 1.6rem;
    position: relative;

    .toc-panel__list .toc-panel__header {
      padding-left: calc(2rem * 2);
    }
  }

  .toc-panel__title {
    padding: 0.4rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: var(--text-sm);
  }

  .toc-panel__header {
    padding: 0.4rem 2rem;
    position: relative;
    display: inline-flex;
    color: var(--color-contrast-medium);
    text-decoration: none;
    // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &::before {
      content: '';
      width: var(--toc-border-width);
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    &:hover {
      color: var(--color-contrast-high);
    }
  }

  .toc-panel__header_selected {
    color: hsl(220, 90%, 56%);
    &::before {
      background-color: hsl(220, 90%, 56%);
    }
  }

  .toc-panel__page-numb {
    width: 3.2rem;
    text-align: right;
    padding-top: 0.4rem;
    padding-right: 0.8rem;
    flex-shrink: 0;

    white-space: nowrap;
  }

  .toc-panel__item {
    display: flex;
    margin-left: -4rem;
    cursor: pointer;

    color: var(--color-contrast-medium);

    &:hover {
      color: var(--color-contrast-high);
    }
  }
}
