@import "../../../../scss/btn.scss";

// Colors
$light-grey: #e1e1e1;
$dark-grey: #333;
$primary-color: #33c3f0;
$secondary-color: lighten($dark-grey, 13.5%);
$border-color: #bbb;
$link-color: #1eaedb;
$font-color: #222;



.um-drafts__submenu {
  display: flex;
  flex-direction: row-reverse;

  padding-top: 10px;
  border-bottom: 1px solid #eee;
}


.um-drafts__export-all {
  margin: 0 0 10px 10px;
  stroke: #ffffff;
  stroke-width: 30px;
  color: $border-color;

  &:hover {
    color: lighten($dark-grey, 33.3%);
    cursor: pointer;
  }
}