@import "./default";
@import "./layout";
@import "./media-queries";

.entry-content__img {
    &_center {
        text-align: center;
        margin: auto;
    }
    &_medium {
        max-width: 300px;
    }
}