@import '../../scss/skeleton/base/normalize';
@import '../../scss/skeleton/base/variables';
@import '../../scss/skeleton/modules/grid';
@import '../../scss/btn';

.um-drafts__submenu {
  display: flex;
  flex-direction: row-reverse;

  padding-top: 10px;
  border-bottom: 1px solid #eee;
}

.um-drafts__export-all {
  margin: 0 0 10px 10px;
  stroke: #ffffff;
  stroke-width: 30px;
  color: $border-color;

  &:hover {
    color: lighten($dark-grey, 33.3%);
    cursor: pointer;
  }
}

.draft-content {
  // max-width: 64rem;
  // width: calc(100% - 2 * 1.25rem);
  // margin-left: 5rem;
  // margin-right: auto;

  display: flex;
  flex-direction: column;
}

@media (min-width: 400px) {
  .draft-content {
    // max-width: 64rem;
    // width: calc(100% - 2 * 1.25rem);
    // margin-left: 5rem;
    // margin-right: auto;

    // display: flex;
    flex-direction: row;
  }
}

.page__controls {
  display: flex;
  justify-content: space-between;
  align-items: start;
  opacity: 0.3;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

.page {
  position: relative;
  display: block;
  margin-left: 150px;

  &:not(:nth-last-child(1)) {
    border-bottom: 1px solid #eee;
  }
}
