@import '../../scss/skeleton/base/normalize';
@import "../../scss/skeleton/base/variables";
@import "../../scss/skeleton/base/base-styles";
@import '../../scss/skeleton/base/typography';

@import '../../scss/navbar.scss';

@import '../../scss/fonts.scss';

html {
  font-family: sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

.container {
  max-width: 800px;
}


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

inscriptum-footer {
  flex-shrink: 0;
  margin-top: 2rem;
}