@import '~highlight.js/styles/monokai-sublime';
@import '../../scss/note.scss';

.redactor {
  max-width: 732px;
  margin: 0 auto;
}

/* Article styles */

.redactor__article {
  @include note-base;

  padding: 0;
  margin: 0;

  .ProseMirror {
    outline: 0;

    /* ul li:before,
    ol li:before {
      position: absolute;
      display: inline-block;
      box-sizing: border-box;
      width: 78px;
      margin: 0;
      margin-left: -78px;
      text-align: right;
    } */

    > {
      * + * {
        margin-top: 0.75em;
      }

      ::selection,
      :not(pre) ::selection {
        background: #5f5f5f2f;
      }
    }

    @include note-content;
  }
}

@media (max-width: 960px) {
  .redactor__article .ProseMirror *[data-label]:after {
    display: none;
  }
}

//////////////////////// Draft

.is-active {
  background: #000;
  color: #fff;
}
