.ok-full {
  height: 100vh;
  display: flex;
  /* position: absolute; */
  /* top: 0; */
  // background-color: gray;
  /* width: 100%; */
  justify-content: stretch;
}

h1 {
  font-size: 77px;
  color: #2C3138 !important;
  font-weight: 400;
  letter-spacing: -3px;
  font-family: 'Vollkorn', serif;
  margin: 20px 0 34px 0;
  line-height: 81px;
  max-width: 640px;
}

h3 {
  font-size: 15px;
  letter-spacing: 1px;
  color: #EA3B43;
  margin: 30px 0;
  font-weight: 400;
  display: block;
  max-width: 635px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin: 0;
}

h3 img {
  position: absolute;
  margin: 0 10px;
}

.conteudo {
  position: relative;
  display: block;
  left: 10em;
  top: 50%;
  margin-top: -130px;
  width: 50%;
}

.year {
  color: #A2B5C1;
  letter-spacing: 0.2em;
  font-size: 14px;
}

.description {
  max-width: calc(50vw - 70px);
  color: #2C3138;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  line-height: 2;
  margin-top: 5rem;
}

@media (max-width: 1600px) {
  .conteudo {
    left: 8em;
  }
  .conteudo h1 {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 20px;
    max-width: 490px;
  }
  .conteudo h3 {
    font-size: 14px;
    line-height: 21px;
  }
  .conteudo h3 img {
    position: absolute;
    padding-top: 3px;
  }
}

@media (max-width: 1500px) {
  .about p {
    max-width: 500px;
  }
}

@media (max-width: 1500px) {
  .conteudo {
    left: 5em;
  }
  .conteudo h1 {
    font-size: 56px;
  }
  .conteudo h3 {
    font-size: 12px;
  }
  .about p {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 1024px) {
  .conteudo {
    left: 0;
    margin: 0 6em;
    margin-top: -102px;
  }
  .cover {
    display: none;
  }
  .conteudo h1 {
    font-size: 45px;
    line-height: 56px;
    max-width: 337px;
    text-align: center;
    max-width: none;
    margin: 0;
  }
  .conteudo h3 {
    font-size: 12px;
    text-align: center;
    padding-right: 22px;
    max-width: none;
  }
  h3 img {
    position: absolute;
    padding-top: 1px;
  }
  .year {
    text-align: center;
    display: block;
  }
  .about p {
    max-width: none;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .cover {
    display: none;
  }
}

@media (max-width: 480px) {
  .conteudo {
    left: 0;
    margin: 0 3em;
    margin-top: -102px;
  }
  .marcello {
    display: none;
  }
  .conteudo h3 img {
    padding-top: 3px;
  }
}

@media (max-width: 320px) {
  .menu a {
    width: 95px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
  .conteudo {
    margin-top: -135px;
  }
  .about p {
    line-height: 24px;
    font-size: 14px;
  }
  .about {
    top: 30%;
  }
}

.slide1 {
  width: 50%;
  background: url(../slide/imgs/web-components.svg);
  background-position: center center;
  background-size: cover;
}

.slide2 {
  width: 50%;
  background: url(../slide/imgs/2.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide3 {
  width: 50%;
  background: url(../slide/imgs/3.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide4 {
  width: 50%;
  background: url(../slide/imgs/4.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide5 {
  width: 50%;
  background: url(../slide/imgs/5.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide6 {
  width: 50%;
  background: url(../slide/imgs/6.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide6_1 {
  width: 100%;
  background: url(../slide/imgs/6_1.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide7 {
  width: 100%;
  background: url(../slide/imgs/7.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide7_1 {
  width: 100%;
  background: url(../slide/imgs/7_1.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide8 {
  width: 100%;
  background: url(../slide/imgs/8.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide9 {
  width: 50%;
  background: url(../slide/imgs/9.jpg);
  background-position: center center;
  background-size: cover;
}
