/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    background-color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

@media only screen and (min-width: 1050px) {
    body::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
}

a {
    color: #267481;
    text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

@media only screen and (min-width: 1050px) {
    body[data-hijacking="on"] {
        overflow: hidden;
    }
}

.cd-section {
    height: 100vh;
}

.cd-section .ok-full {
    height: 100vh;
}

.cd-section:first-of-type>div {
    background-color: #FFF;
}

.cd-section:nth-of-type(2)>div {
    background-color: #FFF;
}

.cd-section:nth-of-type(3)>div {
    background-color: #FFF;
}

.cd-section:nth-of-type(4)>div {
    background-color: #FFF;
}

.cd-section:nth-of-type(5)>div {
    background-color: #FFF;
}

[data-animation="parallax"] .cd-section>div,
[data-animation="fixed"] .cd-section>div,
[data-animation="opacity"] .cd-section>div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

[data-animation="parallax"] .cd-section:first-of-type>div,
[data-animation="fixed"] .cd-section:first-of-type>div,
[data-animation="opacity"] .cd-section:first-of-type>div {
    background-image: url("../img/img-1.jpg");
}

[data-animation="parallax"] .cd-section:nth-of-type(2)>div,
[data-animation="fixed"] .cd-section:nth-of-type(2)>div,
[data-animation="opacity"] .cd-section:nth-of-type(2)>div {
    background-image: url("../img/img-2.jpg");
}

[data-animation="parallax"] .cd-section:nth-of-type(3)>div,
[data-animation="fixed"] .cd-section:nth-of-type(3)>div,
[data-animation="opacity"] .cd-section:nth-of-type(3)>div {
    background-image: url("../img/img-3.jpg");
}

[data-animation="parallax"] .cd-section:nth-of-type(4)>div,
[data-animation="fixed"] .cd-section:nth-of-type(4)>div,
[data-animation="opacity"] .cd-section:nth-of-type(4)>div {
    background-image: url("../img/img-4.jpg");
}

[data-animation="parallax"] .cd-section:nth-of-type(5)>div,
[data-animation="fixed"] .cd-section:nth-of-type(5)>div,
[data-animation="opacity"] .cd-section:nth-of-type(5)>div {
    background-image: url("../img/img-5.jpg");
}

@media only screen and (min-width: 1050px) {
    .cd-section h2 {
        font-size: 4rem;
        font-weight: 300;
    }
    [data-hijacking="on"] .cd-section {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    [data-hijacking="on"] .cd-section>div {
        visibility: visible;
    }
    [data-hijacking="off"] .cd-section>div {
        opacity: 0;
    }
    [data-animation="rotate"] .cd-section {
        /* enable a 3D-space for children elements */
        -webkit-perspective: 1800px;
        -moz-perspective: 1800px;
        perspective: 1800px;
    }
    [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
        -webkit-perspective-origin: center 0;
        -moz-perspective-origin: center 0;
        perspective-origin: center 0;
    }
    [data-animation="scaleDown"] .cd-section>div,
    [data-animation="gallery"] .cd-section>div,
    [data-animation="catch"] .cd-section>div {
        box-shadow: none !important;
    }
    [data-animation="opacity"] .cd-section.visible>div {
        z-index: 1;
    }
}

@media only screen and (min-width: 1050px) {
    .cd-section:first-of-type>div::before {
        display: none;
    }
}

@media only screen and (min-width: 1050px) {
    .cd-section>div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    [data-hijacking="on"] .cd-section>div {
        position: absolute;
    }
    [data-animation="rotate"] .cd-section>div {
        -webkit-transform-origin: center bottom;
        -moz-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
        -o-transform-origin: center bottom;
        transform-origin: center bottom;
    }
}

.cd-vertical-nav {
    /* lateral navigation */
    position: fixed;
    z-index: 1;
    left: 3.5rem;
    top: auto;
    bottom: -2rem;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
}

.cd-vertical-nav a {
    display: block;
    height: 45px;
    width: 45px;
    /* image replace */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../imgs/cd-icon-arrow.svg) no-repeat center center;
}

.cd-vertical-nav a.cd-prev {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-bottom: 10px;
}

.cd-vertical-nav a.inactive {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

@media only screen and (min-width: 1050px) {
    .cd-vertical-nav {
        display: block;
    }
}

header {
    position: relative;
    z-index: 10;
}

/* finally */

.menu,
.marcello,
.links {
    position: fixed;
    top: 0;
}

.menu {
    left: 0;
    margin: 4.3rem 0 0 5rem;
    z-index: 5;
    cursor: pointer;
}

.menu a {
    color: #2C3138;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.3em;
}

.marcello {
    left: 0;
    right: 0;
    width: 52px;
    margin: 4.2rem auto;
}

.marcello img {
    height: 18px;
}

.links {
    right: 0;
    margin: 4.3rem 5rem 0 0;
    z-index: 5;
    cursor: pointer;
    list-style: none;
}

.links li {
    float: left;
    margin-left: 15px;
}

.links a img {
    height: 16px;
}

.cover {
    position: absolute;
    top: 0;
    left: 50%;
    background: url("../imgs/web-components.svg");
    background-position: center center;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

.page2 .cover {
    background: url("../imgs/2.png");
    background-position: center center;
    background-size: cover;
}

.page3 .cover {
    background: url("../imgs/3.png");
    background-position: center center;
    background-size: cover;
}

.page4 .cover {
    background: url("../imgs/4.png");
    background-position: center center;
    background-size: cover;
}

.page5 .cover {
    background: url("../imgs/5.png");
    background-position: center center;
    background-size: cover;
}

.page6 .cover {
    background: url("../imgs/6.png");
    background-position: center center;
    background-size: cover;
}

.page7 .cover {
    background: transparent;
    background-position: center center;
    background-size: cover;
    left: auto;
    margin: 100px 100px;
}

.page9 .cover {
    background: url("../imgs/9.jpg");
    background-position: center center;
    background-size: cover;
}

h1 {
    font-size: 77px;
    color: #2C3138;
    font-weight: 400;
    letter-spacing: -3px;
    font-family: 'Vollkorn', serif;
    margin: 20px 0 34px 0;
    line-height: 81px;
    max-width: 640px;
}

.tt-ios {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: url("imgs/tt-ios.png") center;
    background-size: cover;
    position: absolute;
    top: 59px;
    right: -58px;
}

h3 {
    font-size: 15px;
    letter-spacing: 1px;
    color: #EA3B43;
    margin: 30px 0;
    font-weight: 400;
    display: block;
    max-width: 635px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

h3 img {
    position: absolute;
    margin: 0 10px;
}

.year {
    color: #A2B5C1;
    letter-spacing: 0.2em;
    font-size: 14px;
}

.conteudo {
    position: relative;
    display: block;
    left: 10em;
    top: 50%;
    margin-top: -130px;
}

.about {
    cursor: default;
    top: 45%;
}

.about h1 {
    font-size: 70px;
}

.about p {
    max-width: 600px;
    line-height: 38px;
    color: #909192;
    font-size: 18px;
}

@media (max-width: 1800px) {
    .project {
        left: 10em;
    }
}

@media (max-width: 1600px) {
    .conteudo {
        left: 8em;
    }
    .conteudo h1 {
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 20px;
        max-width: 490px;
    }
    .conteudo h3 {
        font-size: 14px;
        line-height: 21px;
    }
    .conteudo h3 img {
        position: absolute;
        padding-top: 3px;
    }
}

@media (max-width: 1500px) {
    .about p {
        max-width: 500px;
    }
}

@media (max-width: 1500px) {
    .conteudo {
        left: 5em;
    }
    .conteudo h1 {
        font-size: 56px;
    }
    .conteudo h3 {
        font-size: 12px;
    }
    .about p {
        font-size: 16px;
        line-height: 28px;
    }
}

@media (max-width: 1024px) {
    .conteudo {
        left: 0;
        margin: 0 6em;
        margin-top: -102px;
    }
    .cover {
        display: none;
    }
    .conteudo h1 {
        font-size: 45px;
        line-height: 56px;
        max-width: 337px;
        text-align: center;
        max-width: none;
        margin: 0;
    }
    .conteudo h3 {
        font-size: 12px;
        text-align: center;
        padding-right: 22px;
        max-width: none;
    }
    h3 img {
        position: absolute;
        padding-top: 1px;
    }
    .year {
        text-align: center;
        display: block;
    }
    .about p {
        max-width: none;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .cover {
        display: none;
    }
}

@media (max-width: 480px) {
    .conteudo {
        left: 0;
        margin: 0 3em;
        margin-top: -102px;
    }
    .marcello {
        display: none;
    }
    .conteudo h3 img {
        padding-top: 3px;
    }
}

@media (max-width: 320px) {
    .menu a {
        width: 95px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }
    .conteudo {
        margin-top: -135px;
    }
    .about p {
        line-height: 24px;
        font-size: 14px;
    }
    .about {
        top: 30%;
    }
}